@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", Helvetica, Arial, Sans-Serif, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.chat-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 48px;
}